.button {
  width: 100px;
  height: 25px;
  padding: 2px;
  margin: 5px;
  border: 2px black solid;
  background-color: #fed8b1;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  user-select: none;
}
.button:hover {
  background-color: orange;
}
.button:active {
  background-color: darkorange;
}

.flex-container {
  display: flex;
}
.flex-container > div {
  margin-right: 20px;
}

.output {
  border: 1px solid black;
  padding: 10px;
  font-size: large;
  height: 25px;
  display: inline-block;
  color: gray;
}

.final {
  color: black;
}

.fotter {
  font-size: small;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
}

input[type="range"] {
  width: 25em;
}

.item {
  margin-bottom: 5px;
}
.item > span {
  display: block;
}
.item > label > span {
  margin-left: 5px;
}

.status-ok {
  color: darkgreen;
}

.status-ng {
  color: red;
}
